# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*

web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# IDEs Eclipse, PhpStorm, ...
.project
.settings
.idea
.tm_properties
.rsync*
.rsync_cache
