<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Quest !</title>
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
    {% block javascripts %}{% endblock %}
</head>

<body id="{% block id '' %}">
    <div id="wrap">
    {% block body %}{% endblock %}
    
    <footer>
        &copy; {{ 'now'|date('Y') }} - Quest
        </section>
    </footer>
    </div>
</body>

</html>