{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets '@TeclliureUserBundle/Resources/public/css/frontend.css'
               '@TeclliureUserBundle/Resources/public/css/common.css'
               output='css/frontend.css' %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}


{% block javascripts %}
{#
{% javascripts '@TeclliureUserBundle/Resources/public/js/lt_ie9/*' output='js/lt_ie9.js' %}
<!--[if lt IE 9]>
    <script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}
#}
{% javascripts '@TeclliureUserBundle/Resources/public/js/respond.min.js' output='js/frontend.js' %}
<!--[if lt IE 9]>
<script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}

{% javascripts '@TeclliureUserBundle/Resources/public/js/frontend/*' output='js/frontend.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}


{% block body %}
<header>
    <nav>
        <ul>
            <li>dsads</li>
            <li>dsads</li>
            <li>dsads</li>
            <li>dsads</li>
        </ul>
    </nav>
</header>

{% include ':includes:flashes.html.twig' %}

<article>
    {% block article %}{% endblock %}
</article>

<aside>
    {% block aside %}
    <section id="login">
        {# {% render 'UsuarioBundle:Default:cajaLogin' with { 'id': block('id') }, { 'standalone': true } %} #}
    </section>
    {% endblock %}
</aside>
{% endblock %}