{% extends '::skeleton.html.twig' %}

{% block content %}
<div class="span12">
    <div id="content">
        <div class="inner">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
