{% extends '::skeleton.html.twig' %}

{% block breadrumb %}
    <div id="breadcrumb" class="span12">
        <ul class="breadcrumb boxed">
            <li><a href="">Bread1</a></li>
            <li><a href="">Bread2</a></li>
        </ul>
    </div>
    {#
    {% set currentItem = knp_menu_get('main').currentItem %}
    {% if currentItem %}
    <div id="breadcrumb" class="span12">
        <ul class="breadcrumb boxed">
            {% for title, url in currentItem.breadcrumbsArray %}
                <li><a href="{{url}}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    #}
{% endblock %}

{% block navbar %}
    <div class="navbar span12">
        <div class="navbar-inner" >
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patients<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">List</a></li>
                            <li><a href="#">Add patient</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questionary<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">List</a></li>
                                <li><a href="#">Add questionary to patient</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Docs</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="nav-header">Categories</li>
                                <li><a href="#">Category list</a></li>
                                <li><a href="#">Add category</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Subcategory</li>
                                <li><a href="#">Subcategory list</a></li>
                                <li><a href="#">Add subcategory</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-search pull-right" action="">
                        <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                </div><!-- /.nav-collapse -->
        </div><!-- /navbar-inner -->
    </div>
{% endblock %}



{% block content %}
<div id="navigation" class="span3">
    {% block left_content %}
        <div class="well">
            {% block navigation %}
                <h2>Navigation</h2>
                {#{{ knp_menu_render('main') }}#}
            {% endblock %}
        </div>
    {% endblock %}
</div>
<div class="span9">
    <div id="content">
        <div class="inner">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
