<a href="{{ path('answer_form_show', { 'questionId': question.id }) }}"  id="questionId{{ question.id }}showForm" class="btn btn-mini answerShowForm" style="float: right;">
    <i class="icon-chevron-right"></i> {{ 'Add answer' | trans }}
</a>
<div id="questionId{{ question.id }}AnswerForm" {% if answerForm is not defined %}style="display: none"{% endif %}>
    {% if answerForm is defined %}
        {% include 'TeclliureQuestionBundle:Question:answerForm.html.twig' %}
    {% endif %}
</div>


{% include 'TeclliureQuestionBundle:Question:answerList.html.twig' %}