<button type="button"  id="showQuestionForm" class="btn btn-small pull-right">
    <i class="{% if questionFormError is not defined or questionFormError == false %}icon-chevron-right{% else %}icon-chevron-down{% endif %}"></i> {{ 'Add question' | trans }}
</button>

<div id="new_question_form" class="clearfix" {% if questionFormError is not defined or questionFormError == false %}style="display: none"{% endif %}>
        {% include 'TeclliureQuestionBundle:Question:questionForm.html.twig' %}
</div>


<div id="questionsList">
    {% include 'TeclliureQuestionBundle:Question:questionList.html.twig' %}
</div>