{% extends '::one_column.html.twig' %}

{% block title %}{{ "Person New" | trans }}{% endblock %}

{% block inner_content %}
<div style="float: right">
    <div class="sonata-actions">
        <a class="btn sonata-action-element" href="{{ path('home') }}">
            {{ 'Back to the list' | trans }}
        </a>
    </div>
</div>
<br />
<br />
<legend>
    {{ 'New Person' | trans }}
</legend>

<div id="edit">
    {% include 'TeclliurePatientBundle:Patient:editForm.html.twig' %}
</div>
{% endblock %}