{% extends '::two_columns.html.twig' %}

{% block id 'user' %}
{% block title %}Frontpage Quest{% endblock %}

{% block inner_content %}
Hello {{ name }}!
{% endblock %}

{% block left_content %}
<div class="well">
<h2>Extra content</h2>
<p>Lorem ipsum dolor sit amet...</p>
</div>
{% endblock %}
