{% extends '::one_column.html.twig' %}

{% block id 'user' %}
{% block title %}Frontpage Quest{% endblock %}

{% block inner_content %}
    {% if error %}
        <div  class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong>
            {{ error.message }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input id="username" name="_username" class="input-block-level" placeholder="Email address" value="{{ last_username }}" type="text">
        <input id="password" name="_password" class="input-block-level" placeholder="Password" type="password">
        <label class="checkbox">
            <input name="_remember_me" value="remember-me" type="checkbox" checked> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}