<a href="{{ path('rule_form_show', { 'questionId': question.id }) }}"  id="questionId{{ question.id }}showForm" class="btn btn-mini ruleShowForm" style="float: right;">
    <i class="icon-chevron-right"></i> {{ 'Add rule' | trans }}
</a>
<div id="questionId{{ question.id }}RuleForm" {% if ruleForm is not defined %}style="display: none"{% endif %}>
    {% if ruleForm is defined %}
        {% include 'TeclliureQuestionBundle:Validation:ruleForm.html.twig' %}
    {% endif %}
</div>


{% include 'TeclliureQuestionBundle:Validation:ruleList.html.twig' %}