<button type="button"  id="showValidationForm" class="btn btn-small pull-right">
    <i class="{% if validationFormError is not defined or validationFormError == false %}icon-chevron-right{% else %}icon-chevron-down{% endif %}"></i> {{ 'Add validation' | trans }}
</button>
<div id="new_validation_form" class="clearfix" {% if validationFormError is not defined or validationFormError == false %}style="display: none"{% endif %}>
    {% include 'TeclliureQuestionBundle:Validation:validationForm.html.twig' %}
</div>


<div id="validationsList">
    {% include 'TeclliureQuestionBundle:Validation:validationList.html.twig' %}
</div>